node_modules
dist
.tmp
.sass-cache
bower_components
test/bower_components
build/
app/images/resized

# https://github.com/github/gitignore/blob/master/Global/Vim.gitignore
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
*.bak
.publish
